body {
  font-family: DM sans;
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherForm {
  margin: 20px;
}

.cityInput {
  padding: 10px;
  font-size: 2rem;
  font: bold;
  border: 3px solid rgb(80, 80, 80);
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-weight: bold;
    font-size: 2rem;
    background-color: rgb(66, 36, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(90, 65, 255);
}
.card {
    background-color: darkslateblue;
    color: white;
    padding: 50px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 25px;
}

p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 25px;
}

.humidityDisplay {
    font: bold;
    margin-bottom: 25px;
}

.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji {
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold
}
